<button md-icon-button [mdMenuTriggerFor]="menu">
  <md-icon>more_vert</md-icon>
</button>
<md-menu #menu="mdMenu">
  <button md-menu-item>
    <md-icon>show_chart</md-icon>
    <span>Charts</span>
  </button>
  <button md-menu-item>
    <md-icon>photo</md-icon>
    <span>Images Project</span>
  </button>
   <button md-menu-item>
    <md-icon>timeline</md-icon>
    <span>Site timeline</span>
  </button> 
  <button md-menu-item>
    <md-icon>info</md-icon>
    <span>About</span>
  </button>
</md-menu>
